.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 500px;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  padding: 30px 0px 30px 0px;
  margin-top: 30px;
}

.post-box {
  display: flex;
  justify-content: center;
  align-items: center;

}

.post-image {
  height: auto;
  width: min(80%, 600px);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10%;
  background-color: white;
  width: 90%;
  height: auto;
}

.buttons > * {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 50%;
}

.buttons > *:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.reaction-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  background-color: white;
  width: 90%;
  height: auto;
}

.reaction-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40%;
  animation-name: fade-down;
  animation-duration: 1s;
}

.reaction-list > * {
  font-size: 110%;
}

.reaction-list > *:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.reaction-list .like {
  color: rgba(12, 99, 12, 0.932);
}

.reaction-list .love,
.reaction-list .dislike {
  color: red;
}

.reaction-list .laugh {
  color: rgb(29, 81, 194);
}

.comment-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 10px;
  padding-top: 10%;
  animation-name: fade-down;
  animation-duration: 1s;
}

.comment-box textarea {
  resize: vertical;
  flex-basis: 100%;
}

.comment-box .close-comment {
  font-size: 110%;
}

.comment-box .send-comment {
  font-size: 110%;
}

.comment-box .close-comment:hover,
.comment-box .send-comment:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.view-comment-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  width: 80%;
  flex-wrap: wrap;
  
}

.view-comment-box .close-view {
  margin-top: 10px;
}

.view-comment-box .close-view:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.view-comment-box .comment-list {
  list-style: none;
  overflow: scroll;
  resize: vertical;
  height: 30vh;
  max-height: 60vh;
  border-radius: 5px;
  animation-name:fade-down;
  animation-duration: 1s;
  
}

@media (max-width: 700px) {
  .post {
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
  }

  .buttons > * {
    font-size: 10px;
  }
}

