.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name:fade-up;
  animation-duration:1s;
}

.posts h1 {
  padding: 30px 0px 20px 0px;
  color: white;
  font-weight: 100;
}

@media (min-width: 600px){
  .posts {
    margin-left: 4rem;
  }
}

@media (max-width: 600px) {
  .posts {
    margin-top: 4rem;
  }
}
