.footer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer h3 {
  color: #f2f0ef;
  font-size: 15px;
  font-weight: 200;
}

@media (min-width: 600px) {
  .footer h3 {
    margin-left: 4rem;
  }
}
