.create-post-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation-name: fade-up;
  animation-duration: 1s;
}

.create-post-box {
  margin-top: 20px;
  border: 1px white solid;
  background-color: black;
  border-radius: 5px;
}

.create-post-container h1 {
  padding: 30px 0px 20px 0px;
  color: white;
  font-weight: 100;
}

@media (min-width: 600px) {
  .create-post-container {
    margin-left: 4rem;
  }
}

@media (max-width: 600px) {
  .create-post-container {
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .create-post-box {
    margin-bottom: 100px;
  }
}
