.drop-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: #f2f0ef;
}

.description-input {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.description-input input {
  width: 100%;
  height: 49px;
  padding-left: 10px;
  border: none;
  border-radius: 3px;
}

.drop-form .upload-box {
  cursor: pointer;
  text-align: center;
  width: 100%;
  border: solid 1px #f2f0ef;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 18px;
}

.upload-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.drop-form button {
  cursor: pointer;
  background-color: #f2f0ef;
  border-radius: 3px;
  font-weight: 300;
  font-size: 18px;
  padding: 10px 15px 10px 15px;
  border: none;
}

.description-input input:focus,
.upload-box button:focus {
  outline: none;
}

.drop-form .upload-box:hover,
.drop-form button:hover {
  color: #f2f0ef;
  transition: background-color 200ms;
  background-color: rgb(78, 78, 78);
}

.upload-loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-loading-icon h3 {
  padding-bottom: 30px;
  color: #f2f0ef;
  font-weight: 100;
}

.upload-loading-icon .upload-loading-circle {
  color: #f2f0ef;
  font-size: 200%;
  margin-bottom: 10px;
  animation: loading-animation 1s infinite;
}
