.gallery-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-name: fade-up;
  animation-duration: 1s;
}

.gallery-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-heading h1 {
  padding: 30px 0px 20px 0px;
  color: #f2f0ef;
  font-weight: 100;
}

.gallery-images {
  column-count: 3;
  padding: 30px;
}

.gallery-images ul {
  list-style: none;
}

.gallery-images ul li img {
  width: 100%;
  padding: 0px 0px 10px 0px;
}

.gallery-images ul li img:hover {
  opacity: 80%;
  cursor: pointer;
}

.overlay-prompt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}

.prompt-box {
  position: relative;
}

.overlay-prompt {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-prompt .prompt-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: min(200px, 80%);
  width: min(400px, 80%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  animation-name: zoom-in;
  animation-duration: 0.5s;
}

.prompt-box .prompt-button {
  font-size: 15px;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.prompt-box .prompt-exit-button {
  cursor: pointer;
  top: 20px;
  right: 20px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #f2f0ef;
}

.prompt-box .prompt-button:hover {
  opacity: 60%;
}

.overlay-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-image .view-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  animation-name: zoom-in;
  animation-duration: 0.5s;
}

.view-image img {
  max-width: 70%;
  height: auto;
  position: relative;
}

.overlay-image .view-exit-button {
  cursor: pointer;
  top: 10%;
  right: 10%;
  color: #f2f0ef;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
}

@media (min-width: 1000px) {
  .gallery-images {
    column-count: 4;
    padding: 30px;
  }
}

@media (min-width: 900px) {
  .view-image img {
    max-width: 600px;
  }
}

@media (min-width: 600px) {
  .gallery-box {
    margin-left: 4rem;
  }
}

@media (max-width: 600px) {
  .gallery-box {
    margin-top: 4rem;
  }
}
