.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation-name: fade-up;
  animation-duration: 1s;
}

.login-box {
  border: 1px solid #f2f0ef;
  background-color: black;
  border-radius: 5px;
  height: auto;
  width: min(400px, 80%);
  margin-top: 30px;
  padding: 40px 0px 40px 0px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: #f2f0ef;
}

.login-form h1 {
  padding: 30px 0px 20px 0px;
  color: #f2f0ef;
  font-weight: 100;
}

.login-box h3 {
  padding: 20px 0 20px 0px;
}

.login-box form input:focus,
.login-box form button:focus {
  outline: none;
}

.login-box form input {
  border: none;
  background-color: #f2f0ef;
  width: min(500px, 80%);
  border-radius: 3px;
  font-family: "Poppins", serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 300;
}

.login-box button {
  cursor: pointer;
  border: none;
  background-color: #f2f0ef;
  width: min(500px, 80%);
  border-radius: 3px;
  font-family: "Poppins", serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 300;
}

.ref-link {
  color: black;
}

.login-box .oauth-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box .oauth-icon {
  height: 27px;
  width: 27px;
}

.login-form button:hover,
.login-form button .ref-link:hover {
  transition: background-color 200ms;
  background-color: rgb(78, 78, 78);
  color: #f2f0ef;
}

@media (min-width: 600px) {
  .login-form {
    margin-left: 4rem;
    height: 95vh;
  }
}

@media (max-width: 600px) {
  .login-form {
    margin-top: 4rem;
  }
}
