@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
html {
  scroll-behavior: smooth !important;
}

* {
  --bgcolor: rgb(20, 20, 20);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, serif;
}

#root {
  min-height: 100vh;
}

.holder {
  min-height: 100%;
  position: relative;
}

body {
  background-color: var(--bgcolor);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #f2f0ef;
}

@media (max-width: 600px) {
  #root {
    min-height: 93vh;
  }

  .holder {
    min-height: 100%;
    position: relative;
  }
}

@keyframes fade-up {
  from {
    transform: translateY(50px);
    opacity: 0%;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes zoom-in {
  from {
    scale: 0%;
    opacity: 0%;
  }
  to {
    scale: 100%;
    opacity: 100%;
  }
}

@keyframes loading-animation {
  0% {
    scale: 0%;
  }
  50% {
    scale: 100%;
  }
  100% {
    scale: 0%;
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(-50px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}
