.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.comment .username {
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.comment .user-comment {
  padding-left: 10px;
}
