.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.loading-icon h2 {
  padding-bottom: 30px;
  color: #f2f0ef;
  font-weight: 100;
}

.loading-icon .loading-circle {
  color: #f2f0ef;
  font-size: 200%;
  animation: loading-animation 1s infinite;
}
