a {
  text-decoration: none;
}

header {
  background: rgb(34, 32, 32);
}

.navbar {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav .logo {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
}

.navbar .nav-links {
  display: flex;
}

.navbar .nav-links li {
  list-style: none;
  margin: 0 0.5rem;
}

.navbar ul li a {
  color: white;
  font-size: 1.1rem;
  padding: 0.7rem 1rem;
  display: block;
}

.navbar ul li a:hover {
  background-color: rgb(99, 99, 99);
}

.navbar ul li a.active {
  border-bottom: solid rgb(255, 255, 255);
  background-color: rgb(99, 99, 99);
}

.icon {
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 900px) {
  .content h1 {
    font-size: 4rem;
    text-align: center;
  }

  .icon {
    display: block;
  }

  .navbar .nav-links {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(34, 32, 32);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 150px;
    height: 40vh;
    top: -1000px;
    right: 0;
    border-radius: 10px 0px 0% 10px;
    z-index: 0;
    transition: all 0.5s ease-in-out;
  }

  .nav-links.active {
    top: 6%;
    transition: all 0.5s ease-in-out;
  }
}


