.admin-form{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    animation-name:fade-up;
    animation-duration:1s;
}

.admin-box{
  background-color: white;
  border-radius: 20px;
  height: auto;
  width: min(400px, 80%);
  margin-top: 30px;
  padding: 40px 0px 40px 0px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


.admin-form h1{
    padding: 30px 0px 20px 0px;
    color: white;
    font-weight: 100;
}

.admin-box button{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin: 0 auto;
    width: 50%;
    border:1px solid rgb(139, 135, 135);
    border-radius:3px;
}

.admin-box button:hover {
    color:white;
    background-color: rgba(34, 32, 32);
}