.drop-form {
    padding: 10px;
}

.drop-form .upload-box {
    cursor:pointer;
    border: solid 1px rgb(139, 135, 135);
    border-radius: 3px;
    padding: 10px;
    font-weight: 200;
    font-size: 18px;
}

.drop-form > * {
    padding: 10px;
    font-weight: 200;
    font-size: 18px;
}

.drop-form button {
    cursor: pointer;
    border: solid 1px rgb(139, 135, 135);
    background-color: white;
    font-weight: 200;
    font-size: 18px;
    padding: 10px 15px;
}

.drop-form .upload-box:hover{
    color: white;
    background-color: var(--bgcolor);
}

.drop-form button:hover{
    color: white;
    background-color: var(--bgcolor);
}

.upload-loading-icon {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.upload-loading-icon h3 {
    padding-bottom: 30px;
    color: black;
    font-weight: 100;
}

.upload-loading-icon .upload-loading-circle {
    color:black;
    font-size: 200%;
    animation: loading-animation 1s infinite;
}
