.drop-form {
    padding: 10px;
}

.drop-form .upload-box {
    border: solid 1px rgb(139, 135, 135);
    border-radius: 3px;
}

.drop-form > * {
    padding: 10px;
}

.drop-form button {
    border: solid 1px rgb(139, 135, 135);
    background-color: white;
    padding: 10px 15px;
}

.drop-form .upload-box:hover{
    color: white;
    background-color: rgba(34, 32, 32);
}

.drop-form button:hover{
    color: white;
    background-color: rgba(34, 32, 32);
}
