.home-page{
  animation-name: fade-up;
  animation-duration: 1s;
}

.welcome-block {
  display: flex;
  height: 70vh;
  justify-content: center;
  background: url(https://img.freepik.com/premium-photo/black-white-drawing-city-with-cityscape-word-city-it_899894-67271.jpg);
}

.welcome-block h1 {
  margin-top: 50px;
  color: rgb(32, 34, 34);
  font-weight: 300;
  font-size: 1000%;
  transition: 0.2s;
}

.chevron {
  display: flex;
  justify-content: center;
}

.chevron-button {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(199, 199, 199);
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 900px) {
  .welcome-block h1 {
    font-size: 600%;
    transition: 0.2s;
  }
}

@media (max-width: 600px) {
  .welcome-block h1 {
    font-size: 400%;
    transition: 0.2s;
  }
}

