.searchbar {

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;

}

.searchbar input {
    padding-left: 10px;
    width: 40vw;
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    border: none;
}

.searchbar .search-button {
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 5vw;
    height: 30px;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(110, 110, 110);
    border: none;
}

.searchbar .search-button:hover {
    cursor: pointer;
    background-color: rgb(78, 78, 78);
}
