a {
  text-decoration: none;
  color:white;
}

.navbar{
  width: 4rem;
  height: 100vh;
  position:fixed;
  background-color: black;
  
}

.navbar-nav {
  padding: 0;
  margin: 0;
  list-style:none;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.navbar-nav li {
  width: 100%;
}


.navbar-nav li .link-item{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  color:white;
  height: 4rem;
  width: 100%;
  
}

.icon {
  max-width: 2rem;
  margin: 0 1.5rem;
}

.logo .link-text{
  cursor:pointer;
  flex-basis: 80%;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.link-text {
  display:none;
  margin-left: 1rem;
}

.active .link-item{
  border-bottom: solid white;
}


@media(max-width: 600px){

  .navbar {
    top: 0;
    width: 100%;
    height: 4rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .link-item {
    justify-content: center;
  }

  .navbar-nav .nav-item:hover{
    background-color: rgb(40, 40, 40);
    font-size: 1.5rem;
    transition: font-size 200ms;
  }

}

@media(min-width: 600px) {
  .navbar {
    top: 0;
    width: 4rem;
    height: 100vh;
    transition: width 200ms ease-in-out;
  }

  .navbar:hover {
    width: 16rem;
  }
  
  .navbar:hover .logo .link-text {
    display: block;
  }
  
  .navbar:hover .nav-item .link-text {
    animation: fade-up 600ms;
    display: block;
  }

  .navbar-nav .nav-item:hover{
    background-color: rgb(40, 40, 40);
    font-size: 1.1rem;
    transition: font-size 200ms;
  }

  
}


